/*
 Theme Name:   Onepage Eleven
 Theme URI:    www.evidisha.com/onepage-eleven/
 Description:  Onepage Eleven is a child theme of featuredlite it is loaded with overall functionality which is sufficient for one to create site.
 Author:       Evidisha Team
 Author URI:   www.evidisha.com/
 Template:     featuredlite
 Version:      1.0.3
 License: GNU General Public License v3 or later
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags: right-sidebar, custom-menu, custom-logo, editor-style, featured-images, translation-ready, flexible-header, sticky-post, theme-options, portfolio
 Text Domain: onepage-eleven
*/